{% extends 'index.html' %} {% include 'navigation_bar.html' %} {% block content %}
<section>
  <div class="row">
    <!-- Tabs -->
    <div class="container container-tickets">
      <form action="{{ url_for('search_ticket')}}" method="POST">
        <div class="row row-search">
          <div class="col s7 m9 l10">
            <input
              class="teal-text"
              type="text"
              id="search_tab"
              name="search_tab"
              placeholder="&#xF002;"
              style="font-family: Arial, FontAwesome"
            />
          </div>
          <div class="col btn-search-container right">
            <button type="submit" class="btn btn-small">
              <i class="material-icons">search</i>
            </button>
            <a href="{{ url_for('dashboard') }}" class="btn btn-small red">
              <i class="material-icons">clear</i>
            </a>
          </div>
        </div>
        <ul class="tabs teal-text">
          <li class="tab col s2 l3">
            <a
              href="#open_tab"
              data-toggle="collapse"
              aria-expanded="false"
              aria-controls="Show open incidents"
              >Open</a
            >
          </li>
          <li class="tab col s2 l3">
            <a
              href="#in_progress_tab"
              data-toggle="collapse"
              aria-expanded="false"
              aria-controls="Show incidents in progress"
              >In Progress</a
            >
          </li>
          <li class="tab col s2 l3">
            <a
              href="#resolved_tab"
              data-toggle="collapse"
              aria-expanded="false"
              aria-controls="Show resolved incidents"
              >Resolved</a
            >
          </li>
          <li class="tab col s2 l3">
            <a
              href="#on_hold_tab"
              data-toggle="collapse"
              aria-expanded="false"
              aria-controls="Show Waiting on External incidents"
              >Waiting on External</a
            >
          </li>
        </ul>
      </form>
    </div>
  </div>
</section>
{% include "footer.html" %} {% endblock %}
