<div class="footer teal">
  <div class="row white-text">
    <div class="col left-align text-copyright">
      ©2021 Copyright:<a
        id="text-footer"
        href="https://github.com/van-damm/"
        target="_blank"
      >
        van-damm</a
      >
    </div>
    <div class="col right">
      <a
        class="white-text"
        href="https://www.linkedin.com/"
        target="_blank"
        ><i class="fab fa-linkedin social-link"></i
      ></a>
      <a
        class="white-text"
        href="https://github.com/van-damm/"
        target="_blank"
        ><i class="fab fa-github-square social-link"></i
      ></a>
      <a
        class="white-text"
        href="https://www.facebook.com/"
        target="_blank"
        ><i class="fab fa-facebook-square social-link"></i
      ></a>
    </div>
  </div>
</div>
